#bt_acordeon_inicio {
     -fx-pref-height: 32px;
     -fx-pref-width: 32px;

     -fx-background-color: none;
     -fx-background-image: url('../imagenes/acordeon_inicio/home_inicio.png');
 }

 #bt_acordeon_inicio:hover {
      -fx-pref-height: 32px;
      -fx-pref-width: 32px;

      -fx-background-color: none;
      -fx-background-image: url('../imagenes/acordeon_inicio/hover/home_inicio_hover.png');
  }

 #bt_acordeon_calendario {
     -fx-pref-height: 32px;
     -fx-pref-width: 32px;

     -fx-background-color: none;
     -fx-background-image: url('../imagenes/acordeon_inicio/calendar.png');

 }

 #bt_acordeon_calendario:hover {
      -fx-pref-height: 32px;
      -fx-pref-width: 32px;

      -fx-background-color: none;
      -fx-background-image: url('../imagenes/acordeon_inicio/hover/calendar_hover.png');

  }

 #bt_acordeon_pacientes {
      -fx-pref-height: 32px;
      -fx-pref-width: 32px;

      -fx-background-color: none;
      -fx-background-image: url('../imagenes/acordeon_inicio/users.png');

 }

 #bt_acordeon_pacientes:hover {
       -fx-pref-height: 32px;
       -fx-pref-width: 32px;

       -fx-background-color: none;
       -fx-background-image: url('../imagenes/acordeon_inicio/hover/users_hover.png');

  }

  #bt_acordeon_acercade {
     -fx-pref-height: 32px;
          -fx-pref-width: 32px;

          -fx-background-color: none;
          -fx-background-image: url('../imagenes/acordeon_ayuda/male-reporter.png');

  }


  #bt_acordeon_acercade:hover {
     -fx-pref-height: 32px;
          -fx-pref-width: 32px;

          -fx-background-color: none;
          -fx-background-image: url('../imagenes/acordeon_ayuda/hover/male-reporter_hover.png');

  }

#bt_cerrar_programa {
        -fx-pref-height: 32px;
        -fx-pref-width: 32px;

        -fx-background-color: none;
        -fx-background-image: url('../imagenes/acordeon_salir/exit.png');

}


#bt_cerrar_programa:hover {
        -fx-pref-height: 32px;
        -fx-pref-width: 32px;

        -fx-background-color: none;
        -fx-background-image: url('../imagenes/acordeon_salir/hover/exit_hover.png');

}

#bt_acordeon_ayuda_funciones {
        -fx-pref-height: 32px;
        -fx-pref-width: 32px;

        -fx-background-color: none;
        -fx-background-image: url('../imagenes/acordeon_salir/list.png');

}

#bt_acordeon_ayuda_funciones:hover {
        -fx-pref-height: 32px;
        -fx-pref-width: 32px;

        -fx-background-color: none;
        -fx-background-image: url('../imagenes/acordeon_salir/hover/list_hover.png');

}

#ta_acordeon_inicio {
   -fx-color: skyblue;
   -fx-text-fill: #ffffff;
   -fx-alignment: center ;
   text-area-background: #378DCA;
   -fx-font-weight: bold;

}

#ta_acoredeon_ayuda {
    -fx-color: skyblue;
    -fx-text-fill: #ffffff;
   -fx-text-alignment: center;
    text-area-background: #378DCA;
    -fx-font-weight: bold;
}

#ta_acordeon_salir {
    -fx-color: skyblue;
    -fx-text-fill: #ffffff;
    text-area-background: #378DCA;
    -fx-font-weight: bold;

}

#ta_acordeon_salir *.text {
     -fx-text-alignment: center;
}

#ta_acoredeon_ayuda *.text {
     -fx-text-alignment: center;
}

#ta_acordeon_inicio *.text {
     -fx-text-alignment: center;
}


.text-area .content {
    -fx-background-color: text-area-background ;
}

#bt_insertar_paciente {
       -fx-pref-height: 32px;
        -fx-pref-width: 32px;

        -fx-background-color: none;
        -fx-background-image: url('../imagenes/layout_pacientes/user.png');
 }

 #bt_insertar_paciente:hover {
        -fx-pref-height: 32px;
         -fx-pref-width: 32px;

         -fx-background-color: none;
         -fx-background-image: url('../imagenes/layout_pacientes/hover/user_hover.png');
  }

#bt_vaciar_form_paciente {
        -fx-pref-height: 32px;
        -fx-pref-width: 32px;

        -fx-background-color: none;
        -fx-background-image: url('../imagenes/layout_pacientes/eraser.png');
}

#bt_vaciar_form_paciente:hover {
        -fx-pref-height: 32px;
        -fx-pref-width: 32px;

        -fx-background-color: none;
        -fx-background-image: url('../imagenes/layout_pacientes/hover/eraser_hover.png');
}

#bt_eliminar_fila_paciente {
        -fx-pref-height: 32px;
        -fx-pref-width: 32px;

        -fx-background-color: none;
        -fx-background-image: url('../imagenes/layout_pacientes/delete.png');
}

#bt_eliminar_fila_paciente:hover {
        -fx-pref-height: 32px;
        -fx-pref-width: 32px;

        -fx-background-color: none;
        -fx-background-image: url('../imagenes/layout_pacientes/hover/delete_hover.png');
}

#bt_modificar_fila_paciente {
        -fx-pref-height: 32px;
        -fx-pref-width: 32px;

        -fx-background-color: none;
        -fx-background-image: url('../imagenes/layout_pacientes/edit.png');

}

#bt_modificar_fila_paciente:hover {
        -fx-pref-height: 32px;
        -fx-pref-width: 32px;

        -fx-background-color: none;
        -fx-background-image: url('../imagenes/layout_pacientes/hover/edit_hover.png');

}

#bt_aceptar_insertarCita {
    -fx-pref-height: 32px;
    -fx-pref-width: 32px;

    -fx-background-color: none;
    -fx-background-image: url('../imagenes/layout_pacientes/user.png');
}

#bt_aceptar_insertarCita:hover {
    -fx-pref-height: 32px;
    -fx-pref-width: 32px;

    -fx-background-color: none;
    -fx-background-image: url('../imagenes/layout_pacientes/hover/user_hover.png');
}

#bt_vaciar_insertarCita {
    -fx-pref-height: 32px;
    -fx-pref-width: 32px;

    -fx-background-color: none;
    -fx-background-image: url('../imagenes/layout_pacientes/eraser.png');
}

#bt_vaciar_insertarCita:hover {
    -fx-pref-height: 32px;
    -fx-pref-width: 32px;

    -fx-background-color: none;
    -fx-background-image: url('../imagenes/layout_pacientes/hover/eraser_hover.png');
}

#bt_eliminar_cita {
    -fx-pref-height: 32px;
    -fx-pref-width: 32px;

    -fx-background-color: none;
    -fx-background-image: url('../imagenes/layout_pacientes/delete.png');
}

#bt_eliminar_cita:hover {
    -fx-pref-height: 32px;
    -fx-pref-width: 32px;

    -fx-background-color: none;
    -fx-background-image: url('../imagenes/layout_pacientes/hover/delete_hover.png');
}


#bt_vertodo_citas {
    -fx-background-color: grey;
}

#bt_verhoy_citas {
    -fx-background-color: grey;
}


#bt_vertodo_citas:hover {
    -fx-background-color: green;
}

#bt_verhoy_citas:hover {
    -fx-background-color: green;
}


 #tabla_pacientes .table-cell {
     -fx-alignment: CENTER;
      /* The rest is from caspian.css */

     -fx-skin: "com.sun.javafx.scene.control.skin.TableCellSkin";

 }

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: #29648E;
}

 .table-view .column-header .label {
     -fx-text-fill: white;
     -fx-font-weight: bold;

 }

.italic.table-cell {
  -fx-font-family: "Times New Roman";
  -fx-font-style: italic;

}

#lv_citas .list-cell {
    -fx-alignment: center;
    -fx-padding: 5px;
}